{% extends 'base.html.twig' %}

{% block body %} 

<h1>{{ title }}</h1>

{% if age > 18 %}
    <p>Tu es majeur<p>
{% else %}
        <p> tu es mineur <p>
{% endif %}
<p>
  bonjour et bienvenu dans nôtre site web<p></p>
</p>
{% endblock %}
